{% extends 'base.html' %}
{% block form-content %}
 <section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Enter The Data</h4>
                </div>

                <form method="POST" action="/form/" >
                  {% csrf_token %}
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Food Acidity :</label>
                    <input type="text" id="form2Example11" class="form-control"
                    name="Acidity_1_ph"
                    required="true"
                      placeholder="enter food acidity-1 in (ph)" />
                  </div>

                 <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Food Quantity :</label>
                    <input type="text" id="form2Example11" required="true" name="quantity_1_grams" class="form-control"
                      placeholder="enter food quantity 1 (grams)" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Food Acidity :</label>
                    <input type="text" id="form2Example11" required="true" name="Acidity_2_ph" class="form-control"
                      placeholder="enter food acidity 2 (ph)" />
                  </div>

                   <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Food Quantity :</label>
                    <input type="text" id="form2Example11" required="true" name="quantity_2_grams" class="form-control"
                      placeholder="enter food quantity 2 (grams)" />
                  </div>

                   <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Food Acidity :</label>
                    <input type="text" id="form2Example11" required="true" name="Acidity_3_ph" class="form-control"
                      placeholder="enter food acidity 3 (ph)" />
                  </div>

                   <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Food Quantity :</label>
                    <input type="text" id="form2Example11" required="true" name="quantity_3_grams" class="form-control"
                      placeholder="enter food quantity 3 (grams)" />
                  </div>

                   <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Enter Overall Food :</label>
                    <input type="text" id="form2Example11" required="true" name="over_all_food" class="form-control"
                      placeholder="enter over all food (grams)" />
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <a href="">
                         <button type="submit" class="btn btn-outline-danger">Submit</button>
                    </a>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock form-content %}

